.index-root {
    -fx-background-color: linear-gradient(to bottom, #ffff, #ebe4a4);
}
.iencrypt-root{
	-fx-background-color: #ebe4a4;
}
.text-area {
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-control-inner-background: #ffff;
    -fx-border-color: #999;
}
.text-field {
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-control-inner-background: #ffff;
    -fx-border-color: #999;
}
.label-title{
	-fx-font-family: "verdana";
	-fx-font-size: 20px;
	-fx-text-fill: black;
	-fx-font-weight: bold;
}
.label-subtitle{
	-fx-font-family: "verdana";
	-fx-font-size: 18px;
	-fx-text-fill: black;
}
.label-body{
	-fx-font-family: "verdana";
	-fx-font-size: 15px;
	-fx-text-fill: black;
}
.label-annotation{
	-fx-font-family: "verdana";
	-fx-font-size: 12px;
	-fx-text-fill: black;
}
.button-nav{
	-fx-font-family: "verdana";
	-fx-font-size: 15px;
	-fx-text-fill: black;
	-fx-background-color: #fff7b0;
	-fx-border-color: #999;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-focus-color: transparent;
	-fx-background-insets: 0;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}
.button-nav:pressed{
	-fx-background-color: #ebe4a4
}
.button-skip{
	-fx-font-family: "verdana";
	-fx-font-size: 14px;
	-fx-text-fill: black;
	-fx-background-color: #fff7b0;
	-fx-border-color: #999;
	-fx-focus-color: transparent;
	-fx-background-insets: 0;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}
.button-skip:pressed{
	-fx-background-color: #ebe4a4
}